**/.DS_Store
**/.gitignore
**/.gitattributes
**/Taskfile*.yml
**/README.md
**/.editorconfig
**/auth.json
**/.env*
**/.env*.example

compose.yml
compose*.yml

/.github
/.git
/.vscode
/docs
/scripts
/mariadb
/dev
.task

/storage/logs/*.log
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/bootstrap/cache
!/bootstrap/cache/.gitignore
/storage/*.key
/server.php
/.phpunit.cache
/.phpunit.result.cache
/npm-debug.log
/.phpstan.cache
/.phpcs.cache

/node_modules
/vendor

# Dont copy generated front-end files
/public/hot
/public/storage
/public/image
/public/css
/public/js

.dockerignore
**/Dockerfile
