includes:
	- phpstan-baseline.neon

parameters:
	level: max
	tmpDir: ./.phpstan.cache
	noEnvCallsOutsideOfConfig: true
	checkModelProperties: true
	reportUnmatchedIgnoredErrors: true
	paths:
		- app
		- tests
	exceptions:
		uncheckedExceptionClasses:
			- PHPUnit\Framework\AssertionFailedError
	ignoreErrors:
		-
			identifier: staticMethod.dynamicCall
			reportUnmatched: false
			messages:
				- '#Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder#'
				- '#Dynamic call to static method Livewire\\Features\\SupportTesting\\Testable::#'
				- '#Dynamic call to static method PHPUnit\\Framework\\Assert::#'
				- '#Dynamic call to static method Illuminate\\Testing\\TestResponse#'
		-
			identifier: shipmonk.publicPropertyNotReadonly
			reportUnmatched: false
			paths:
				- app/Models
				# - app/Filament
				# - app/Livewire
	# strictRules:
	# 	dynamicCallOnStaticMethod: false
