name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: {{`${{ github.workflow }}-${{ github.ref }}`}}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  setup-npm-cache:
    name: Setup NPM cache
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}

  setup-composer-cache:
    name: Setup Composer cache
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}

  audit-composer:
    name: Dependency Audit Composer
    runs-on: ubuntu-24.04
    needs: [setup-composer-cache]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: Security Check for composer
        run: composer audit
      - name: Validate composer.json and composer.lock
        run: composer validate --strict

  audit-npm:
    name: Dependency Audit NPM
    runs-on: ubuntu-24.04
    needs: [setup-npm-cache]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: Audit check for NPM
        run: npm audit

  be-unit-tests:
    name: Check back-end unit tests
    runs-on: ubuntu-24.04
    needs: [setup-npm-cache, setup-composer-cache]
    services:
      mariadb:
        image: mariadb:11.8.3-noble
        env:
          MARIADB_DATABASE: "{{snakecase ProjectShortName}}_test"
          MARIADB_USER: "{{snakecase ProjectShortName}}_test"
          MARIADB_PASSWORD: password
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: "yes"
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=5s --health-timeout=2s --health-retries=3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          coverage: pcov
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: Setup Node
        uses: ./.github/actions/setup-node
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
          run-npm-build: true
      - name: Run composer dump-autoload
        run: composer dump-autoload
      - name: Run migrations
        run: php artisan --env=testing migrate:fresh --seed
      - name: Back-end Unit tests using PHPUnit
        run: php -dpcov.enabled=1 -dpcov.directory=. vendor/bin/phpunit -d --without-creating-snapshots --log-junit=reports/phpunit/phpunit-report.xml --coverage-clover=reports/phpunit/phpunit-coverage.xml
      - name: Upload PHPUnit coverage report
        uses: actions/upload-artifact@v6
        with:
          name: phpunit-report
          path: reports/phpunit

  be-code-style-linting:
    name: Check back-end Code Style
    runs-on: ubuntu-24.04
    needs: [setup-composer-cache]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: CodeSniffer cache
        uses: actions/cache@v5
        with:
          path: .phpcs-cache
          key: {{`codesniffer-${{ hashFiles('phpcs.xml.dist', 'composer.lock') }}`}}
          restore-keys: codesniffer-
      - name: Linting back-end Code Style using PHP CodeSniffer
        run: composer checkstyle

  be-static-code-analysis:
    name: Check back-end Static Code Analysis
    runs-on: ubuntu-24.04
    needs: [setup-composer-cache]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: PHPStan cache
        uses: actions/cache@v5
        with:
          path: .phpstan.cache
          key: {{`phpstan-${{ hashFiles('phpstan.dist.neon', 'phpstan-baseline.neon', 'composer.json', 'composer.lock') }}`}}
          restore-keys: phpstan-
      - name: Static Code Analysis using PHPStan
        run: vendor/bin/phpstan analyse --memory-limit=-1 --error-format=github -vvv
      - name: Generate PHPStan analysis report
        id: phpstan-report
        if: always()
        run: |
          mkdir -p reports/phpstan
          vendor/bin/phpstan analyse --memory-limit=-1 --error-format=json > reports/phpstan/phpstan-report.json
      - name: Upload PHPStan analysis report
        if: steps.phpstan-report.outcome == 'success'
        uses: actions/upload-artifact@v6
        with:
          name: phpstan-report
          path: reports/phpstan

  be-check-docblocks:
    name: Check back-end Model DocBlocks
    runs-on: ubuntu-24.04
    needs: [setup-composer-cache]
    services:
      mariadb:
        image: mariadb:11.8.3-noble
        env:
          MARIADB_DATABASE: "{{snakecase ProjectShortName}}_test"
          MARIADB_USER: "{{snakecase ProjectShortName}}_test"
          MARIADB_PASSWORD: password
          MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: "yes"
        ports:
          - 3306:3306
        options: --health-cmd="mariadb-admin ping" --health-interval=5s --health-timeout=2s --health-retries=3
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup PHP
        uses: ./.github/actions/setup-php
        with:
          github-token: {{`${{ secrets.GITHUB_TOKEN }}`}}
      - name: Run migrations
        run: php artisan --env=testing migrate:fresh --seed
      - name: Generate Model DocBlocks
        run: php artisan ide-helper:models --write
      - name: Check for changes in models directory
        run: |
          if ! git diff --quiet -- app/Models/; then
            echo "Changes detected in the models directory after running IDE Helper Generate."
            echo "Please run "php artisan ide-helper:models --write" locally and review and commit the changes."
            echo "Make sure your local database is up to date and the migrations are in sync with the database."
            exit 1
          fi
{{if UseSonarQube}}
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-24.04
    needs: [be-unit-tests, be-static-code-analysis]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Download PHPUnit coverage report
        uses: actions/download-artifact@v4
        with:
          name: phpunit-report
      - name: Download PHPStan analysis report
        uses: actions/download-artifact@v4
        with:
          name: phpstan-report
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: {{`${{ secrets.SONAR_TOKEN }}`}}
{{- end}}
